@tailwind base;
@tailwind components;
@tailwind utilities;

.read-toggle {
  background: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.read-toggle.readed {
  color: hsl(var(--bc));
}

.read-toggle.reading {
  color: hsl(var(--p));
}

.read-toggle.unread {
  color: hsl(var(--a));
}

.read-toggle.unread:before {
  content: "";
  display: block;
  width: 1rem;
  height: 0.125rem;
  border-radius: 0.0625rem;
  background-color: hsl(var(--a));
  position: absolute;
  transform: rotate(-45deg);
}
